@page "/contacto"
@using Microsoft.AspNetCore.Components

<div class="contacto-container fade-in">

    <h2 class="contacto-titulo">📞 Contactanos</h2>

    <p class="contacto-texto">
        En <strong>ZonaPC</strong> somos una tienda online especializada en hardware y componentes de PC.
        Si tenés alguna duda sobre nuestros productos o necesitás ayuda para armar tu equipo, podés escribirnos:
    </p>

    <ul class="contacto-datos">
        <li><span class="icono">📧</span> soporte@zonapc.com</li>
        <li><span class="icono">📱</span> +54 9 11 1234-5678</li>
        <li><span class="icono">🕐</span> Lunes a Viernes de 10 a 18 hs (GMT-3)</li>
        <li><span class="icono">🌐</span> Envíos a todo el país</li>
    </ul>

    <p class="contacto-texto">
        También podés encontrarnos en nuestras redes sociales para novedades, lanzamientos y ofertas:
    </p>

    <div class="contacto-redes">
        <a href="#" class="red-social">📘 Facebook</a>
        <a href="#" class="red-social">📸 Instagram</a>
        <a href="#" class="red-social">🐦 Twitter / X</a>
    </div>
</div>
